body{
    margin: 10px;
}
.boxvidimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 20px;
}

table, td, th{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

tfoot{
    text-align: left;
}

.product{
    background-color: deepskyblue;
    width: 300px;
}

.highlight{
    background-color: pink;
}

.tableheadfooter{
    background-color: #427fef;
    color: white;
}

.shadowbox{
    width: 300px;
    height: 300px;
    background-color: tomato;
    box-shadow:10px 10px lightgrey;
    border-radius: 10px;
}

.container{
    flex-wrap: wrap;
}